* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
}

.header a, i {
  color: black;
  float: left;
  align-content: center;
  padding: 12px;
  /*border-radius: 4px;*/
}

#logo {
  height: 70px;
  width: auto;
}

.header a:hover {
  
}

.header a:active {

}

.header-right {
  float: right;
  margin-top: 11px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
    height: 70px;
  }

  .header i {
    margin: 15px 8px;
  }

  .header-right {
    float: none;
  }
}

body {
    
}

.menu ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}
 
.menu li:not(:last-child) {
  margin-right: 20px;
}
 
.menu a {
  display: block;
  font-size: 20px;
  color: black;
  text-decoration: none;
  padding: 7px 15px;
}

a.active {
  font-weight: bold;
}

.menu a:hover{

}

 
.target {
  position: absolute;
  border-bottom: 4px solid transparent;
  z-index: -1;
  transform: translateX(-60px);
}
 
.menu a,
.target {
  transition: all .35s ease-in-out;
}

/*
.fas, .fa-search{
    font-size:12px;
}*/

