/* EXAMPLE SELECTOR */

/* indent size: 2 spaces */

.a-selector-with-multiple-words,
#another-selector-goes-on-a-newline {
  /*-------------------- Positioning --------------------*/
  position: relative;
  float: left;
  /* a comment explaining something about a property goes on a separate line above the property it refers */
  z-index: 10;
  top: 0;
  right: 0;

  /*-------------------- Display & Box Model --------------------*/
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  /* the order of these properties respects the box model from the inside-out */
  padding: 1em;
  /* border in px is fine */
  border: 10px solid #333;
  /* padding and margins should depend on the size of text: use em and rem!! */
  margin: 1em;

  /*-------------------- Color --------------------*/
  background: #000;
  color: #fff;

  /*-------------------- Text --------------------*/
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
  text-align: right;

  /*-------------------- Other --------------------*/
  cursor: pointer;
}
