/* RESET STILI CROSS-BROWSER */

/* Remove inconsistent default padding or margin */
* {
  margin: 0;
  padding: 0;
}

/* improved box-sizing behaviour */
*, *:before, *:after {
  box-sizing: inherit;
}


/* Avoid browser default inconsistent heading and pre/code font-sizes */
h2, h3, h4, h5, h6, pre, code, td {
  font-size: 1em;
}

/* No list-markers by default */
ul, ol {
  list-style: none;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body, textarea {
  font-family: 'Questrial', sans-serif;
  
}

p, dd {
  line-height: 1.5rem;
}

html, body {
  height: 100%;
}

/* FINE RESET CSS */

/* stile personalizzato per h1 */
h1 {
  width: 95vw;
  margin: auto;
  padding: 1.5rem 0 .3rem .5rem;
  border-bottom: 1px solid #4c4a4a;
  margin-bottom: 2rem;

  font-size: 2rem;
}

/* TODO: stile generico ed univoco per i link */
a {
  text-decoration: none;
}

a:link {}

a:visited {}

a:hover, a:active {}

/* --------------- REUSABLE CLASSES --------------- */

/* classe da applicare a link che contengono elementi complessi */
a.clickable-content {
  display: inline-block;
}

.icon {
  display: inline-block;
  height: 1em;
}

.padded-text-container {
  padding: 2rem 1rem 0;
}

/* contenitore riutilizzabile per wrapped flexbox */
.flex-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-centered {
  justify-content: center;
}

.flex-element {
  width: 100%;
  padding: .8rem;
}

/* applicare la classe clearfix al contenitore degli elementi floated */
.clearfix::after {
  clear: both;

  display: table;

  content: "";
}

/* FILE _INIZIO_USER.HTML */

/* ---------- header ---------- */

#logo {
  width: 100%;
  padding: .3rem;
}

.header {
  background-color: #4c4a4a;
}

.header-left {
  display: inline-block;

  width: 50%;
}

.header-right {
  float: right;
}

.header-button {
  text-align: center; 
  font-size: .8rem;
  
  display: block;
  
  color: #fff;
  padding: .6rem 1.3rem;
  /*border-radius: .3rem;*/
  border: .5px solid #fff;
  margin: .3rem;
}

  .header-button:hover {
    background-color: #fff;
    color: #000;
    transition: all .35s ease-in-out;
  }

/* ---------- navigation bar ---------- */

#navbar ul {
  line-height: 3rem;
}

#navbar li {
  padding: 0;
}

#navbar a {
  display: block;

  padding: 0 1rem;

  color: black;

  font-size: 1.1rem;
  
  transition: all .35s ease-in-out;
}

    #navbar a:hover {
    background-color: #4c4a4a;
    color: #ffffff;
    transition: all .35s ease-in-out;
  }

.current-page {
  font-weight: bold;
}

.breadcrumb {
  display: block;

  padding: .5rem;

  font-size: .8rem;
  text-align: center;
}

/* FILE INDEX.HTML */

/* ---------- SLIDESHOW ---------- */

.slideshow-container {
  position: relative;

  /* non ingrandire a più della dimensione delle immagini stesse */
  max-width: 1440px;
  max-height: 810px;
  margin: auto;
  padding: 0;
}

.imgSlideshow {
  width: 100%;
}

.slideshow-element {
  display: none;
  position: relative;
}

.slideshow-element img {
  width: 100%;
}

/* pulsanti scorrimento slideshow */
.prev,
.next {
  position: absolute;
  top: 50%;

  width: auto;
  transition: 0.6s ease;
  padding: 16px;
  border-radius: 0 3px 3px 0;
  margin-top: -22px;

  color: white;
  font-weight: bold;
  font-size: 1.1rem;

  user-select: none;
  cursor: pointer;
}

.next {
  right: 0;

  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/*Testo all'interno dello slideshow*/
.slideshow-text {
  position: absolute;
  top: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f2f2f2;
  text-align: center;
  width: 100%;
  padding: 1rem;
}

.dot-container {
  margin-top: 10px;
  margin-bottom: 10px;

  text-align: center;
}

/*Indicatori a fondo slideshow*/
.dot {
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 8px;
  transition: background-color 0.6s ease;

  background-color: #bbb;
  cursor: pointer;
}

.dotactive,
.dot:hover {
  background-color: #717171;
}

/*Animazione che controlla il fading*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

#descrizioneAzienda {
  margin: 2rem;
}

#descrizioneAzienda > img {
  display: block;
  width: 40vw;
  margin: auto;
  border-radius: 100vh;
}

#descrizioneAzienda > p {
  padding-top: 2rem;
}

/*FILE ABOUT_US.HTML*/

#descrAzienda>img {
  width:100%;
}

#descrAzienda>div {
  padding: 2rem;
}

#descrAzienda>div>p {
  padding: .5rem;
}

.descrSocio {
  padding: 2rem;
  padding-bottom: 4rem;
}

.descrSocio>img {
  width: 15vw;
  border-radius: 100vh;
  margin: 1rem;
}

.descrSocio>dt {
  font-weight: bolder;
  padding-bottom: 1rem;
}

.move-left {
  float: left;
}

.move-right {
  float: right;
}

/* FILE CATALOGO.HTML */

/* FIXME */
.flex-catalogo {
  position: relative;

  width: 90%;
  padding-bottom: .8rem;
}

.catalogo a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: block;
  padding: .8rem 1.5rem;
  /*border-radius: .3rem;*/
  border: .5px solid #fff;

  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.2rem;
}

.catalogo img {
  width: 100%;
  height: 100%;
}

/* MENU LATERALE CATALOGO */

.sidenav {
  position: absolute;
  top: 30vh;
  left: 0;

  /* FIXME con 60 sbrodola sul footer. mistero */
  /* min-height: 59.5vh; */
  width: 20vw;

  background-color: #f1f1f1;
}

.sidenav a {
  display: block;
  padding: 8px;
  padding-left: 32px;

  color: black;
}

.sidenav h2 {
  font-size: 1.5vw;
}

.sidenav h3 {
  font-size: 1vw;
}

.sidenav a:hover {
  color: #636363;

  font-weight: bold;
}

.sidebar-current-page {
  background-color: yellow;
}

/* FILE SOTTOPAGINA_CATALOGO.HTML */

#categoria-catalogo {
  width: 55vw;
  margin: auto;
}

/* FILE CONSULENZA_ONLINE.HTML */

.bg-pagina-consulenze {
  background-image: url("../images/consulenza_o.jpg");
  background-position: top;
  background-size: cover;
  padding: .4vh;
}

/* FORM CONSULENZE */

.titoloForm {
  width: 70vw;
  padding: 30px;
  border-bottom: #fff;

  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}


input:not([type="submit"]),
select,
textarea {
  width: 100%;
  padding: .7rem;
  border: .5px solid #f1f1f1;
}

textarea {
  resize: none;
  height: 10rem;
}

label {
  display: inline-block;

  padding: .75rem .75rem .75rem 0;
}

/* stile pulsanti submit dei form */
.submit-action {
  display: block;

  padding: .8rem 1.5rem;
  border: 1px solid #4c4a4a;
  margin-left: auto;
  margin-right: auto;

  background-color: #f1f1f1;
  color: black;
  box-shadow: 0 0 6px gray;

  text-align: center;
  font-size: .8rem;

  cursor: pointer;
}

.fcontainer {
  padding: 1rem;
  border: 1px solid #a4a4a4;
  width: 80%;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;

  background-color: white;
}

/* colonne di larghezza 25% e 75%*/
.col-25, .col-75 {
  float: left;

  margin-top: 6px;
  width: 100%;
}

/*messaggio di errore nei form*/
.messaggio-errore-form {
  line-height: 2rem;
  color: red;
  text-align: left;
  font-weight: bold;
}

/*messaggio di successo dell'invio nei form*/
.messaggio-successo-form {
  line-height: 2rem;
  color: green;
  text-align: left;
  font-weight: bold;
}

.frow {
  margin: .5rem 1rem;
}

.fTextBox,
.fInputBorder,
#fcat,
#fname,
#femail {
  font-size: .8rem;
}

#fcat {
  height: 100%;
}

.jsIsActive {
  display: none;
}


/* FILE CONTATTI.HTML */

#embeddedMap {
    position: relative;

    /* workaround per mantenere un'aspect ratio fissa a 16:9 */
    height: 0;
    padding-top: 56.25%;
    margin: 2%;

    /* overflow: hidden; */
}

#embeddedMap iframe {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    border: none;
    margin: auto;
}

.orari-apertura {
  margin-top: 1rem;

  text-align: left;
  font-size: .8rem;

  border-collapse: collapse;
}

.orari-apertura td, .orari-apertura th {
    padding: .5rem;
}

/* FILE _FINE.HTML */

/* FOOTER */

#footer {
  /*justify-content: center;*/

  background-color: #4c4a4a;
}

#footer img {
  float: left;
}

#footer p {
  float: left;

  margin-left: .5rem;

  color: #fff;
  font-size: .8rem;
}

/* AMMINISTRAZIONE */

#verificaJavascriptAttivo {
  display: none;
}

/* CATALOGO AMMINISTRAZIONE */

.elemento-anteprima-catalogo {
  border: 1px solid black;
  width: 50%;
  text-align: center;
}

.elemento-anteprima-catalogo img {
  padding: .5rem;
  width: 100%;
  height: 100%;
}

.anteprima-nome-prodotto {
  padding: .5rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
}

.anteprima-pulsanti {
  display: inline;
  
  padding: .5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

/* FORM AMMINISTRAZIONE */

input[type="password"] {
  width: 100%;
  height: inherit;
}

/* ERROR PAGE */

#requested-url-error {
  background-color: lightgrey;
}

/* -------------------- MEDIA QUERIES (INCREMENTALI)  -------------------- */

/*PER TABLET (PORTRAIT)*/
@media only screen and (min-width: 768px) {
  
  /*HEADER*/
    .header-left {
      width: 30%;
  }
  
  .flex-element {
    width: auto;
  }
  
  /*HOME*/
  .slideshow-text {
    font-size: 1.3rem;
  }
  
  #descrizioneAzienda > img {
    width: 20vw;
  }

  /*CATALOGO*/
  .flex-catalogo {
    width: 50%;
    padding-left: .8rem;
  }
  
  .add-padding {
    padding-right: .8rem;
  }
  
  .catalogo a {
    font-size: 1rem;
  }

  /*CONSULENZA ONLINE*/
  .fcontainer {
    width: 80vw;
  }

  /*colonne con larghezza 25% */
  .col-25 {
    width: 25%;
  }

  /*colonne con larghezza 75% */
  .col-75 {
    width: 75%;
  }

  .col-25, .col-75 {
    margin-top: 0;
  }
  
  /*CONTATTI*/
  .padded-text-container {
    padding: 2rem 4rem 0;
  }

  .orari-apertura {
    font-size: 1rem;
  }
  
  #footer li {
  margin: .5rem;
}

}

/*PER DESKTOP E TABLET (LANDSCAPE) */
@media only screen and (min-width: 1024px) {
  h1 {
    width: 70vw;
    padding: 1.5rem 0 .3rem .5rem;
    
    font-size: 2.5rem;
  }
  
  /*HEADER*/
   
  .header-left {
    width: 25%;
  }
  
  .header-button {
    font-size: 1rem;
    margin: .6rem;
  }
  
  .contenuto {
    width: 70vw;
    margin: auto;
  }
  
  /*HOME*/
  .slideshow-text {
    font-size: 1.5rem;
    padding: 1.5rem;
  }
  
  #descrizioneAzienda > img {
    width: 15vw;
}
  
  /*ABOUT_US*/
  
  .descrSocio>img {
    width: 10vw;
  }
  
  /*CATALOGO*/
  .catalogo a {
    font-size: 1.3rem;
  }
  
  .catalogo a:hover {
    background-color: #fff;
    color: #000;
    transition: all .35s ease-in-out;
  }

  /*CONSULENZA ONLINE*/
  .bg-pagina-consulenze {
    width: 100%;
  }

  .fcontainer {
    width: 50vw;
    height: auto;
  }

    .col-25 {
    width: 25%;
  }

  .col-75 {
    width: 75%;
  }
  
  .titoloForm {
    width: auto;
  }
  
  .fInputBorder:hover,
  .fInputBorder:active,
  #femail:hover,
  #femail:active,
  #fname:hover,
  #fname:active {
    border: .5px solid black;
    transition: all .35s ease-in-out;
  }
  
  .submit-action:hover {
  background-color: #4c4a4a;
  box-shadow: 0 0 6px gray;
  color: #FFFFFF;
  transition: all .35s ease-in-out;

  cursor: pointer;
}
  
  /*FOOTER*/
  #footer {
    height: auto;
  }
  
}

/*!!!!!!VECCHIE DA RISTRUTTURARE!!!!!!*/

/* Responsive layout - makes a two column-layout instead of four columns */
/* @media screen and (max-width: 800px) {
.column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  } */

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
.column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
}
/* } */

/* @media screen and (max-height: 450px) {
.sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 1.1rem;
  }
  } */

/* form responsive */
/* @media screen and (max-width: 600px) {} */

/*------------------- PRINT STYLE -------------------*/

/* TODO print style should go at the end of our unique stylesheet! */

/* aggiunge l'indirizzo del link nel testo stampato */
@media print {
  a[href]:after {
    content: " ("attr(href)") ";
  }
}

.alert{
    display: none;
}
