/* Remove inconsistent default padding or margin */
* {
  margin: 0;
  padding: 0;
}

/* improved box-sizing behaviour */
*, *:before, *:after {
  box-sizing: inherit;
}


/* Avoid browser default inconsistent heading and pre/code font-sizes */
h2, h3, h4, h5, h6, pre, code, td {
  font-size: 1em;
}

/* No list-markers by default */
ul, ol {
  list-style: none;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body, textarea {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

/* our custom h1 style */
h1 {
  padding: 1rem 0;

  font-size: 2rem;
  text-align: center;
}

/* TODO: stile generico ed univoco per i link */
a:link {}

a:visited {}

a:hover, a:active {}

/* --------------- REUSABLE CLASSES --------------- */

/*apply to an <a> element with a nested <img>. Becomes as big as its parent. */
a.clickable-image {
  display: inline-block;
  height: 100%;
}

.clickable-image img {
  height: 100%;
}

.icon {
  display: inline-block;
  height: 1em;
}

.padded-small {
  padding: 5px;
}


/* contenitore riutilizzabile per wrapped flexbox */
.flex-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-centered {
  justify-content: center;
}

.padded-text-container {
  padding: 2rem .5rem 0;
}

/* apply class="clearfix" to the container with floated elements inside */
.clearfix::after {
  clear: both;

  display: table;

  content: "";
}

/* FILE _INIZIO_USER.HTML */

/* ---------- HEADER ---------- */

.header {

  height: 15vh;

  background-color: #4c4a4a;
}

.header-right {
  float: right;

  line-height: 15vh;
}


.header-button {
  padding: 0 1em;

  color: white;
}

/* ---------- NAVIGATION BAR ---------- */
.navbar ul {
  line-height: 10vh;
}

.navbar a {
  display: block;

  padding: 0 1rem;

  color: black;

  font-size: 1.3rem;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #4c4a4a;
  color: #ffffff;
}

.current-page {
  font-weight: bold;
}

.breadcrumb {
  display: block;

  font-size: .8rem;
  text-align: center;
  line-height: 5vh;
}

.navbar a {
  transition: all .35s ease-in-out;
}

.contenuto {
  min-height: 60vh;
  padding: .4rem;
}

/* FILE INDEX.HTML */

/* ---------- SLIDESHOW ---------- */

.slideshow-container {
  position: relative;

  /* non ingrandire a più della dimensione delle immagini stesse */
  max-width: 1440px;
  max-height: 810px;
  margin: auto;
  padding: 0;
}

.imgSlideshow {
  width: 100%;
}

.slideshow-element {
  display: none;
  position: relative;
}

.slideshow-element img {
  width: 100%;
}

/* pulsanti scorrimento slideshow */
.prev,
.next {
  position: absolute;
  top: 50%;

  width: auto;
  transition: 0.6s ease;
  padding: 16px;
  border-radius: 0 3px 3px 0;
  margin-top: -22px;

  color: white;
  font-weight: bold;
  font-size: 1.1rem;

  user-select: none;
  cursor: pointer;
}

.next {
  right: 0;

  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/*Testo all'interno dello slideshow*/
.slideshow-text {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f2f2f2;
  font-size: 1.3rem;
  text-align: center;
  width: 100%;
  padding: 1.5rem;
}

.dot-container {
  margin-top: 10px;
  margin-bottom: 10px;

  text-align: center;
}

/*Indicatori a fondo slideshow*/
.dot {
  display: inline-block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 8px;
  transition: background-color 0.6s ease;

  background-color: #bbb;
  cursor: pointer;
}

.dotactive,
.dot:hover {
  background-color: #717171;
}

/*Animazione che controlla il fading*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* FILE CATALOGO.HTML */



.flex-element {
  position: relative;

  width: 100%;

  padding: .8rem;
}

.flex-element a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: block;
  padding: .8rem 2rem;
  border-radius: .3rem;
  border: .5px solid #fff;

  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
}

.flex-element a:hover {
  background-color: #fff;
  color: #000;
}

.flex-element img {
  /* position: relative; */
  width: 100%;
  height: 100%;
}

/* MENU LATERALE CATALOGO */

.sidenav {
  position: absolute;
  top: 30vh;
  left: 0;

  min-height: 59.5vh; /* FIXME con 60 sbrodola sul footer. mistero */
  width: 20vw;

  background-color: #f1f1f1;
}

.sidenav a {
  display: block;
  padding: 8px;
  padding-left: 32px;

  color: black;

  text-decoration: none;
}

.sidenav h2 {
  font-size: 1.5vw;
}

.sidenav h3 {
  font-size: 1vw;
}

.sidenav a:hover {
  color: #636363;

  font-weight: bold;
}

/* FILE CATEGORIA_CATALOGO.HTML */

#categoria-catalogo {
  width: 55vw;
}

/* FILE CONSULENZA_ONLINE.HTML */

.bg-pagina-consulenze {
  background-image: url("../images/consulenza_o.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}

/* FORM CONSULENZE */

.titoloForm {
  padding: 30px;

  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}


input:not([type="submit"]),
select,
textarea {
  width: 100%;
  padding: .7rem;
  border: .5px solid #f1f1f1;
}

textarea {
  resize: none;
  height: 10rem;
}

label {
  display: inline-block;

  padding: .75rem .75rem .75rem 0;
}

/* stile pulsanti submit dei form */
.submit-action {
  /*float: center;*/
  display: block;

  padding: .8rem 1.5rem;
  border: 1px solid #fcfcfc;
  margin-left: auto;
  margin-right: auto;

  background-color: #f1f1f1;
  color: black;

  text-align: center;
  font-size: .8rem;

  cursor: pointer;
}

.submit-action:hover {
  background-color: #4c4a4a;
  box-shadow: 0 0 6px gray;
  color: #FFFFFF;

  cursor: pointer;
}

.fcontainer {
  padding: 1rem;
  border: 1px solid #a4a4a4;
  margin: auto;

  background-color: white;
}

.fInputBorder:hover,
.fInputBorder:active,
#femail:hover,
#femail:active,
#fname:hover,
#fname:active {
  border: .5px solid black;
}

/* colonne di larghezza 25% e 75%, impostate a 100% per essere mobile-first */
.col-25, .col-75 {
  float: left;

  width: 100%;
  margin-top: 6px;
}

/*commento col messaggio di errore nei form*/
.messaggio-errore-form {
  color: red;
  text-align: left;
  font-weight: bold;
}

.messaggio-successo-form {
  color: green;
  text-align: left;
  font-weight: bold;
}

.frow {
  margin: .5rem 1rem;
}

.fTextBox,
.fInputBorder,
#fcat,
#fname,
#femail {
  font-size: .8rem;
}

#fcat {
  height: 100%;
}

.jsIsActive {
  display: none;
}


/* FILE CONTATTI.HTML */

#embeddedMap {
    position: relative;

    /* workaround per mantenere un'aspect ratio fissa a 16:9 */
    height: 0;
    padding-top: 56.25%;
    margin: 2%;

    /* overflow: hidden; */
}

#embeddedMap iframe {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  border: none;
  margin: auto;
}

.orari-apertura {
  margin-top: 1rem;
  
  text-align: left;
  font-size: .8rem;

  border-collapse: collapse;
}

.orari-apertura td, .orari-apertura th {
    padding: .5rem;
}

/* FILE _FINE.HTML */

/* FOOTER */

.footer {
  align-items: center;

  height: 10vh;

  background-color: #4c4a4a;
}

.footerElement {
  margin: .5rem 2rem;
}

.footerElement img {
  float: left;
}

.footerElement p {
  float: left;

  margin-left: .5rem;

  color: #fff;
}

/* AMMINISTRAZIONE */

#verificaJavascriptAttivo {
  display: none;
}

/* CATALOGO AMMINISTRAZIONE */

.elemento-anteprima-catalogo {
  border: 1px solid black;
  width: 50%;
  text-align: center;
}

.elemento-anteprima-catalogo img {
  padding: .5rem;
  width: 100%;
  height: 100%;
}

.anteprima-nome-prodotto {
  padding: .5rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
}

.anteprima-pulsanti {
  padding: .5rem;
  display: inline; 
  /* tolto perché
  With 'display: inline', the width, height, margin-top, margin-bottom, and float properties have no effect.
  */
  /* width: 50%;
  float: left; */
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

/* FORM AMMINISTRAZIONE */

input[type="password"] {
  width: 100%;
  height: inherit;
}

/* ERROR PAGE */

#error-page-content {
  min-height: 65vh;
}

#requested-url-error {
  background-color: lightgrey;
}

/* -------------------- MEDIA QUERIES (INCREMENTALI)  -------------------- */

/*PER TABLET (PORTRAIT)*/
@media only screen and (min-width: 768px) {

  .fcontainer {
    width: 80vw;
  }

  /*colonne con larghezza 25% */
  .col-25 {
    width: 25%;
  }

  /*colonne con larghezza 75% */
  .col-75 {
    width: 75%;
  }

  .col-25, .col-75 {
    margin-top: 0;
  }
  
   .flex-element {
    width: 50%;
  }

  .orari-apertura {
    font-size: 1rem;
  }
  
}

/*PER DESKTOP E TABLET (LANDSCAPE) */
@media only screen and (min-width: 1024px) {

  .contenuto {
    width: 70vw;
    margin: auto;
  }

  .bg-pagina-consulenze {
    width: 100%;
  }

  .fcontainer {
    width: 50vw;
  }

}

/*!!!!!!VECCHIE DA RISTRUTTURARE!!!!!!*/

/* Responsive layout - makes a two column-layout instead of four columns */
/* @media screen and (max-width: 800px) {
.column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  } */

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
.column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
}
/* } */

/* @media screen and (max-height: 450px) {
.sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 1.1rem;
  }
  } */

/* form responsive */
/* @media screen and (max-width: 600px) {} */

/*------------------- PRINT STYLE -------------------*/

/* TODO print style should go at the end of our unique stylesheet! */

/* aggiunge l'indirizzo del link nel testo stampato */
@media print {
  a[href]:after {
    content: " ("attr(href)") ";
  }
}

.alert{
    display: none;
}
