* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 2.5rem;
    /*Da aggiustare il discorso del padding e del footer!*/
    min-height: 100%;
}

h1 {
    text-align: center;
    font-family: Arial;
    position: sticky;
    padding-top: 25px;
    padding-bottom: 40px;
    font-size: 3.5vw;
}

.contenutoPagina {
    margin-top: 20px;
}

/*HEADER INIZIO PAGINA*/

.header {
    overflow: hidden;
    background-color: #4c4a4a;
    height: 6rem;
}

.header img {
    float: left;
    align-content: center;
    padding: 10px;
}

.header-right {
    float: right;
}

.header-right img,
.header-right a {
    height: 20px;
    width: auto;
    padding: 10px;
    float: right;
    margin-top: 11px;
}

#logo {
    height: 70px;
    width: auto;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
        height: 70px;
    }

    .header i {
        margin: 15px 8px;
    }

    .header-right {
        float: none;
    }
}

/*MENU*/
.menu {
    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
    }

    a {
        display: block;
        font-size: 20px;
        color: black;
        text-decoration: none;
        padding: 15px;

        &:active {
            font-weight: bold;
        }

        &:hover {
            background-color: #4c4a4a;
            color: #ffffff;
        }

        @extend %sliding-underline;
    }

}

%sliding-underline {
    transition: all .35s ease-in-out;
}

/* animazione menu TODO */
.target {
    position: absolute;
    border-bottom: 4px solid transparent;
    z-index: -1;
    transform: translateX(-60px);
    @extend %sliding-underline;
}



/*SLIDESHOW*/
/*Container dello slideshow*/

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.imgSlideshow {
    width: 100%;
}

.mySlides {
    display: none;
}

img.mySlides {
    width: 100%;
}

/*Bottoni next & previous*/
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/*Posiziona il bottone next alla destra*/
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*Quando faccio l'hover, aggiunge un background nero leggermente trasparente*/
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/*Testo all'interno dello slideshow*/
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/*Numero dello slideshow (1/3 etc)*/
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.containerdot {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Indicatori a fondo slideshow*/
.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 8px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dotactive,
.dot:hover {
    background-color: #717171;
}

/*Animazione che controlla il fading*/
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* PAGINA CATALOGO */

#titolocatalogo {
    text-align: center;
    font-family: Arial;
    font-size: 40px;
    position: sticky;
    padding-top: 10px;
    padding-bottom: 30px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

div.column {
    max-width: 400px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 10px;
}

.column img {
    width: 100%;
    vertical-align: middle;
    padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

/* MENU LATERALE CATALOGO */
.openMenu {
    font-size: 1.5vw;
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav h1 {
    font-size: 1.5vw;
}

.sidenav h2 {
    font-size: 1vw;
}

.sidenav a:hover {
    color: #636363;
    font-weight: bold;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/*PAGINA CONSULENZE ONLINE*/

div.contenutoPaginaConsulenze {
    background-image: url("imgcss/consulenza_o.jpg");
    background-position: center;
    background-size: 100%;
}

.titoloForm {
    text-align: center;
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
}

/* FORM PER LA CONSULENZA ONLINE */

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #fcfcfc;
    box-sizing: border-box;
}

textarea {
    resize: none;
    height: 150px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type="submit"] {
    background-color: #f1f1f1;
    color: black;
    font-size: 15px;
    padding: 12px 20px;
    border: 1px solid #fcfcfc;
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
    float: right;
    margin: 30px;
}


input[type="submit"]:hover {
    border: 1px solid #fcfcfc;
    background-color: #4c4a4a;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0 0 6px gray;
}

.fcontainer {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 20px 45px;
    border: 1px solid #a4a4a4;
}

.fInputBorder,
#femail,
#fname {
    border: .5px solid #f1f1f1;
}

.fInputBorder:hover,
.fInputBorder:active,
#femail:hover,
#femail:active,
#fname:hover,
#fname:active {
    border: .5px solid black;
}

/*colonne con larghezza 25%: */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/*colonne con larghezza 75%: */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.frow:after {
    content: "";
    display: table;
    clear: both;
}

.fTextBox,
.fInputBorder,
#fcat,
#fname,
#femail {
    font-size: 1.1vw;
}

#fcat {
    height: 30px;
}

/* form responsive*/

@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 45%;
        margin-top: 0;
    }
}

.isJsAcitve {
    display: none;
}

/* FOOTER */

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #4c4a4a;
    text-align: center;
}

.testofooter,
.imgfooter,
a.imgfooter {
    height: 15px;
    width: auto;
    float: left;
}

.footer p {
    color: #ffffff;
    float: left;
    margin-left: 5px;
}

.imgfooter {
    padding-left: 3rem;
}